.border {
    border: 1px solid red;
    margin: 2px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-gray {
    background-color: #121212;
}

.rounded {
    border-radius: 5px;
}

.m-1 {
    margin: 10px;
}


.p-1 {
    padding: 21px;
}

.img-h {
    width: 25px;
}

/* For Webkit Browsers */

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    /* border: 2px solid red; */
    border-radius: 10px;
    background: #333;
    /* Dark background color */
}

::-webkit-scrollbar-thumb {
    background: #666;
    /* Lighter color for the scrollbar thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
    /* Lighter color when hovered */
}